body {
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
}

input[type="text"] {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.searchButton {
    padding: 8px 15px;
    background-color: #808080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.searchButton:hover {
    background-color: #696969;
}
